[submodule "lib/dgrid"]
	path = lib/dgrid
	url = https://github.com/SitePen/dgrid.git
[submodule "lib/xstyle"]
	path = lib/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "lib/put-selector"]
	path = lib/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "lib/dojo/dijit"]
	path = lib/dojo/dijit
url=https://github.com/dojo/dijit.git
[submodule "lib/dojo/dojo"]
	path = lib/dojo/dojo
	url = https://github.com/dojo/dojo.git
[submodule "lib/dojo/util"]
	path = lib/dojo/util
	url = https://github.com/dojo/util.git
