[submodule "lib/dgrid"]
	path = lib/dgrid
	url = https://github.com/SitePen/dgrid.git
[submodule "lib/xstyle"]
	path = lib/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "lib/put-selector"]
	path = lib/put-selector
	url = https://github.com/kriszyp/put-selector.git
