[submodule "lib/submodules_lib"]
	path = lib/submodules_lib
	url = https://github.com/rrakhmetov/submodules_lib.git
[submodule "lib/submodules_2_lib"]
	path = lib/submodules_2_lib
	url = https://github.com/rrakhmetov/submodules_lib.git
[submodule "lib/submodules_lib_v2"]
	path = lib/submodules_lib_v2
	url = https://github.com/rrakhmetov/submodules_lib_v2
