html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: 0;
    background-color: white;
}

#mainPane {
    margin: 0;
    padding: 0;
}

dl {
    border: 1px solid #7AC142;
    margin: 16px 20px 10px 0px !important;
    overflow: auto;
}

dl dt {
    font-weight: bold;
    border-bottom: 1px solid #7AC142;
    padding: 4px 10px;
    background-color: #E1FACD;
    text-align: left;
}

.boardsInput {
    border-bottom: 2px solid #0a92df;
    margin: 0;
    padding: 0px 20px 20px 20px;
}

.boardsOutput {
    background-color: white;
    padding: 0px 20px 20px 20px;
}

dl dd.emptySelection {
    color: silver;
}