/* Symbol */

.traffic_symbol,
.traffic_symbol img {
    padding: 10px;
}

.traffic_symbol {
    margin: 0;
    min-height: 50px;
    min-width: 50px;
    display: inline-block;
    opacity: 0; /* initial opacity */
}

.traffic_symbol img {
    width: 50px; /* no height: keep ratio */
    top: 0;
    /* center horizontally */
    left: 50%;
    margin: 0;
}

.big .traffic_symbol img,
.traffic_symbol.big img {
    /* symbols a big context list are bigger */
    width: 100px;
}

.traffic_symbol span {
    display: block;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

/* List */

dl.symbolList,
dl.symbolList dd {
    padding: 0;
}

dl.symbolList {
    display: block;
    margin: 0.5em 0;
    text-align: center;
}

dl.symbolList dd {
    display: inline-block;
    margin: 0.5em;
}

dl.symbolList dd:first-of-type {
    margin-left: 0;
}

dl.symbolList dd:last-child {
    margin-right: 0;
}


